extend ../layout

block content
	.container
		.row
			form.form-horizontal(method='post',action="/admin/movie/new")
				input(type="hidden",name="_id",value="#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for="inputTitle") 电影名字
					.col-sm-10
						input#inputTitle.col-sm-10.form-control(type="text",name="title" value=movie.title)
				.form-group
					label.col-sm-2.control-label(for="inputDirector") 导演
					.col-sm-10
						input#inputDirector.col-sm-10.form-control(type="text",name="director" value=movie.director)
				.form-group
					label.col-sm-2.control-label(for="inputCountry") 国家
					.col-sm-10
						input#inputCountry.col-sm-10.form-control(type="text",name="country" value=movie.country)
				.form-group
					label.col-sm-2.control-label(for="inputLanguage") 语言
					.col-sm-10
						input#inputLanguage.col-sm-10.form-control(type="text",name="language" value=movie.language)
				.form-group
					label.col-sm-2.control-label(for="inputYear") 上映年份
					.col-sm-10
						input#inputYear.col-sm-10.form-control(type="text",name="year" value=movie.year)
				.form-group
					label.col-sm-2.control-label(for="inputFlash") 播放地址
					.col-sm-10
						input#inputFlash.col-sm-10.form-control(type="text",name="flash" value=movie.flash)
				.form-group
					label.col-sm-2.control-label(for="inputPoster") 海报地址
					.col-sm-10
						input#inputPoster.col-sm-10.form-control(type="text",name="poster" value=movie.poster)
				.form-group
					label.col-sm-2.control-label(for="inputSummary") 简介
					.col-sm-10
						input#inputSummary.col-sm-10.form-control(type="textarea" name="summary" value=movie.summary)
				.form-actions
					button(type='submit',style='float:right' class='btn btn-primary') 提交